<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about content">
                <h2>All Blogs</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aut qui earum? Sapiente itaque expedita, perferendis possimus amet reiciendis dolore illo voluptatum laborum quidem nostrum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aut qui earum? Sapiente itaque expedita, perferendis possimus amet reiciendis dolore illo voluptatum laborum quidem nostrum.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias aut qui earum? Sapiente itaque expedita, perferendis possimus amet reiciendis dolore illo voluptatum laborum quidem nostrum.</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>